@model Nutrimeal.ViewModels.EditPerfilFisicoViewModel
@{
    ViewData["Title"] = Model.PageName;
}

<h2>Editar</h2>

<div class="form-group">
    <form asp-action="Edit" asp-controller="PerfilFisico">
        <div>
            <input type="hidden" asp-for="@Model.PerfilInList.PerfilFisicoId" />
            <label asp-for="@Model.PerfilInList.Nome"></label>
            <div>
                <input asp-for="@Model.PerfilInList.Nome" />
                <span asp-validation-for="@Model.PerfilInList.Nome" class="text-danger"></span>
            </div>
        </div>
        <div>
            <label asp-for="@Model.PerfilInList.Data"> <b>Data de Nascimento:</b> @Model.PerfilInList.Data.ToString("dd/MM/yyyy")</label>
            <div>
                <input asp-for="@Model.PerfilInList.Data" type="date"/>
                <span asp-validation-for="@Model.PerfilInList.Data" class="text-danger"></span>
            </div>
        </div>
       
        <br />
        <button type="submit" class="btn btn-info">Save</button>
    </form>
</div>

