@model Nutrimeal.ViewModels.NewPerfilFisicoViewModel
@{
    ViewData["Title"] = Model.PageName;
}

<h2>Novo Perfil Alimentar</h2>

<div class="form-group">
    <form asp-action="New" asp-controller="PerfilFisico">
        <div>
            <label asp-for="@Model.PerfilFisicoInput.Nome"></label>
            <div>
                <input asp-for="@Model.PerfilFisicoInput.Nome" />
                <span asp-validation-for="@Model.PerfilFisicoInput.Nome" class="text-danger"></span>
            </div>
        </div>
        <div>
            <label asp-for="@Model.PerfilFisicoInput.Data"></label>
            <div>
                <input asp-for="@Model.PerfilFisicoInput.Data" type="date" />
                <span asp-validation-for="@Model.PerfilFisicoInput.Data" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <button type="submit" class="btn btn-info">Criar</button>

    </form>
</div>