@model Nutrimeal.ViewModels.DetailsAlimentoViewModel
@{
    ViewData["Title"] = Model.PageName;
}

<script src="~/js/Calculos/CalcularCaloriasAlimento.js"></script>

<div>
    <h1>Detalhes</h1>
</div>

<table id="detalheAlimentoTableId" class="table table-hover">

    <tr>
        <th>Nome</th>
        <td>@Model.Item.Nome</td>
    </tr>
    <tr>
        <th>Calorias</th>
        <td>@Model.Item.Calorias</td>
    </tr>
    <tr>
        <th>Gordura</th>
        <td>@Model.Item.Gordura</td>
    </tr>
    <tr>
        <th>Colestrol</th>
        <td>@Model.Item.Colestrol</td>
    </tr>
    <tr>
        <th>Sodio</th>
        <td>@Model.Item.Sodio</td>
    </tr>
    <tr>
        <th>Potassio</th>
        <td>@Model.Item.Potassio</td>
    </tr>
    <tr>
        <th>Carboidratos</th>
        <td>@Model.Item.Carboidrato</td>
    </tr>
    <tr>
        <th>Fibra</th>
        <td>@Model.Item.Fibra</td>
    </tr>
    <tr>
        <th>Açucar</th>
        <td>@Model.Item.Acucar</td>
    </tr>
    <tr>
        <th>Proteina</th>
        <td>@Model.Item.Proteina</td>
    </tr>
    <tr>
        <th>Grupo</th>
        <td>@Model.Item.Grupo</td>
    </tr>



</table>

<div class="form-group" id="adicionarCaloriasAlimento" style="display: none;">
    <form asp-action="EditAlimentoCalorias" asp-controller="Alimento">

        <input type="hidden" asp-for="@Model.AlimentoToUpdate.AlimentoId" value="@Model.Item.AlimentoId" />

        <input id="totalCaloriasAlimento" asp-for="@Model.AlimentoToUpdate.Calorias" />


        <button type="submit" class="btn btn-info">Guardar Calorias do Alimento</button>

    </form>
</div>

<a onclick="calcularCaloriasAlimento(document.getElementById('detalheAlimentoTableId'))">
    Total de Calorias do Alimento
</a>

