
@model Nutrimeal.ViewModels.DetailsPerfilAlimentarViewModel
@{
    ViewData["Title"] = Model.PageName;
}

<script src="~/js/Calculos/calcularCaloriasRefeicao.js"></script>
<script src="~/js/Calculos/CalcularCaloriasPerfil.js"></script>

<div>
    <h1>Detalhes</h1>
</div>


<table id="tabelaPerfilAlimentar" class="table table-hover">
    <tr>
        <th>Nome</th>
        <th>Data Perfil</th>
        <th>Total Calorias</th>
    </tr>
    <tr>
        <td>@Model.Item.Nome</td>
        <td>@Model.Item.Data.ToString("dd/MM/yyyy")</td>
        <td>@Model.Item.TotalCalorias</td>
    </tr>
    <tr>
        <td>
            <div class="form-group" id="adicionarCaloriasPerfilAlimentar" style="display: none;">
                <form asp-action="EditPerfilAlimentarTotalCalorias" asp-controller="PerfilAlimentar">

                    <input type="hidden" asp-for="@Model.PerfilToUpdate.PerfilAlimentarId" value="@Model.Item.PerfilAlimentarId" />

                    <input id="totalCaloriasPerfilAlimentar" asp-for="@Model.PerfilToUpdate.TotalCalorias" />


                    <button type="submit" class="btn btn-info">Guardar Calorias do Perfil</button>

                </form>
            </div>
        </td>
    </tr>
</table>

<a onclick="calcularCaloriasPerfilAlimentar(document.getElementById('refeicaoTableId'))">
    Total de Calorias do Perfil Alimentar
</a>
<div>
    <label>Total de Calorias do Perfil</label>
    <span id="spanTotalCaloriasPerfil" class="noResult"></span>
</div>


<h2>Refeições</h2>

<table id='refeicaoTableId' class='table table-bordered table-hover'>
    @if (@Model.Items.Count != 0)
    {
        <thead>
            <tr>
                <th>Refeicao</th>
                <th>Total de Caloiras</th>
                <th>Opçôes</th>

            </tr>
        </thead>




        @foreach (var item in Model.Items)
        {
            <tr>
                <td> @item.Nome </td>
                <td>@item.TotalCalorias</td>
                <td>

                    <a asp-controller="Refeicao"
                       asp-action="Details"
                       asp-route-id="@item.RefeicaoId"
                       class="badge badge-default badge-pill pull-right">
                        Detalhes
                    </a>

                    <a asp-controller="Refeicao"
                       asp-action="Edit"
                       asp-route-id="@item.RefeicaoId"
                       class="badge badge-default badge-pill pull-right">
                        Editar
                    </a>

                    <a asp-controller="Refeicao"
                       asp-action="Delete"
                       asp-route-id="@item.RefeicaoId"
                       class="badge badge-default badge-pill pull-right">
                        Delete
                    </a>

                    <a asp-action="New"
                       asp-controller="QuantidadeAlimentar"
                       asp-route-id="@item.RefeicaoId"
                       class="badge badge-default badge-pill">
                        Adicionar Alimento
                    </a>



                    @Html.ActionLink("Ver Alimentos", "Details", new { RefeicaoId = item.RefeicaoId, RefeicaoNome = item.Nome, Calorias = item.TotalCalorias })

                </td>

            </tr>
        }

    }
    else
    {
        <tr> Este Planao Alimentar não contém Refeições </tr>
    }
</table>
<br />

<a asp-action="New"
   asp-controller="Refeicao"
   asp-route-id="@Model.Item.PerfilAlimentarId"
   class="badge badge-default badge-pill pull-left">
    Adicionar Refeição ao Plano
</a>
<hr />
<br />




@if (@Model.QuantidadesAlimentares.Count() > 0)
{
    <h2>Alimentos da refeição @Model.RefeicaoNome</h2>

    <table id='alimentosRefeicaoTableId' class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>Alimento</th>
                <th>Calorias do Alimento</th>
                <th>Quantidade</th>
                <th>Opções</th>

            </tr>
        </thead>




        @foreach (var item in Model.QuantidadesAlimentares)
                {
            <tr>
                <td> @item.AlimentoNome </td>
                <td> @item.CaloriasDoAlimento</td>
                <td> @item.Quantidade @item.TipoMedida</td>
                <td>

                    <a asp-controller="QuantidadeAlimentar"
                       asp-action="Details"
                       asp-route-id="@item.QuantidadeAlimentarId"
                       class="badge badge-default badge-pill pull-right">
                        Detalhes
                    </a>

                    <a asp-controller="QuantidadeAlimentar"
                       asp-action="Edit"
                       asp-route-id="@item.QuantidadeAlimentarId"
                       class="badge badge-default badge-pill pull-right">
                        Editar
                    </a>

                    <a asp-controller="QuantidadeAlimentar"
                       asp-action="Delete"
                       asp-route-id="@item.QuantidadeAlimentarId"
                       class="badge badge-default badge-pill pull-right">
                        Delete
                    </a>


                    <div class="form-group" id="adicionarCaloriasRefeicoes" style="display: none;">
                        <form asp-action="EditRefeicaoTotalCalorias" asp-controller="PerfilAlimentar">

                            <input type="hidden" asp-for="@Model.RefeicaoToUpdate.RefeicaoId" value="@item.RefeicaoId" />

                            <input id="totalCaloriasRefeicao" asp-for="@Model.RefeicaoToUpdate.TotalCalorias" />


                            <button type="submit" class="btn btn-info">Guardar Calorias da refeicao</button>

                        </form>
                    </div>





                </td>

            </tr>
        }




    </table>

            <a onclick="calcularCaloraisRefeicao(document.getElementById('alimentosRefeicaoTableId'))">
                Total de Calorias da Refeicao
            </a>

            <div class="row" id="divTotalCalorias" style="display: none;">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <label id="labelResultadoIMC">Total de Calorias da refeicao @Model.RefeicaoNome: </label>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="col-xs-12 text-center">
                                <span id="spanResultadoTotalCalorias" class="noResult"></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>




}






            @*<a asp-action="Index"
                   asp-controller="Refeicao"
                   asp-route-id="@Model.Item.PerfilAlimentarId"
                   class="btn btn-primary">
                    Ver Refeições
                </a>*@

