@model Nutrimeal.ViewModels.DetailsPerfilAlimentarViewModel
@{
    ViewData["Title"] = Model.PageName;
}

<div>
    <h1>Detalhes</h1>
</div>


<table class="table table-hover" >
    <tr>
        <th>Peso</th>
        <td>@Model.Item.Nome</td>
    </tr>
    <tr>
        <th>Data do Perfil</th>
        <td>@Model.Item.Data.ToString("dd/MM/yyyy")</td>
    </tr>



</table>





@*<div>
    <h4><b>Peso:</b> @Model.Item.Nome</h4>
    <h4><b>Data do Objetivo:</b> </h4>
</div>*@
<hr />
<a asp-action="New"
   asp-controller="Refeicao"
   asp-route-id="@Model.Item.PerfilAlimentarId"
   class="btn btn-primary">
    Adicionar Refeição ao Plano
</a>

<a asp-action="Index"
   asp-controller="Refeicao"
   asp-route-id="@Model.Item.PerfilAlimentarId"
   class="btn btn-primary">
    Ver Refeições
</a>

